/**
 * Created by zhangxin on 2017/12/29.
 * 
 */
@import "common_var";
.btn{
  font-size: 13px;
  border-radius: 0;
  margin-left: 10px;
  padding: 4px 8px;
  .iconfont{
    font-size: inherit;
  }
}
.btn-search{
  color: $white;
  background-color: $color;
  &:hover,
  &:focus,
  &:active{
    color: $white;
    background-color: $color;
  }
}
.btn-line{
  color: $color;
  border: 1px solid $color;
  background-color: $white;
  &:hover,
  &:focus,
  &:active{
    color: $color;
    border: 1px solid $color;
    background-color: $white;
  }
}
.btn-white{
  background-color: $white;
  color: $btnfont;
  border: 1px solid $btnfont;
  &:hover,
  &:focus,
  &:active{
    background-color: $white;
    color: $btnfont;
  }
}
.btn-detail{
  background-color: #00dbba;
  color: $white;
  border:1px solid #00dbba;
  &:hover,
  &:focus,
  &:active{
    background-color: #00dbba;
    color: $white;
  }
}
