/**
 * Created by zhangxin on 2017/12/29.
 * 
 */
@import "common_var";
.btn{
  border-radius: 0;

  margin-left: 15px;
  .iconfont{
    font-size: inherit;
  }
}
.btn-search{
  color: $white;
  @include to-right-linear-gradient($startColor,$endColor);
  &:hover,
  &:focus,
  &:active{
    @include to-right-linear-gradient($startColor,$endColor);
    color: $white;
  }
}

.btn-white{
  background-color: $white;
  color: $btnfont;
  border: 1px solid $border;
  &:hover,
  &:focus,
  &:active{
    background-color: $white;
    color: $btnfont;
  }
}
